{% extends 'base.html' %}

{% block content %}
    <h2>Wszystkie Zamówienia</h2>
    <ul>
        {% for order in orders %}
            <li>
                <strong>ID Zamówienia:</strong> {{ order.id }}<br>
                <strong>Email:</strong> {{ order.email }}<br>
                <strong>Adres Wysyłki:</strong> {{ order.shipping_address }}<br>
                <strong>Produkt:</strong> {{ order.product.name }}
            </li>
        {% else %}
            <li>Brak zamówień.</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('place_order') }}">Złóż Nowe Zamówienie</a>
{% endblock %}
